<!DOCTYPE html>
<app-navheader></app-navheader>
<div id="showcase2">
  <div class="section-main container">
    <h1>myApp</h1>
    <h2>Access and manage through a simple and intuitive web-based user interface. </h2>
    <p class="lead hide-on-small"> We offers data and configuration control for your website as well as a
      variety of
      visitor metrics.
      Search Console gives you direct insight from Google as to how the search engine sees your
      website.</p>
    <a href="#" class="square_btn" (ngSubmit)="onSubmit()">Get Started</a>
  </div>
</div>

<!-- Management -->
<section id="management" class="section">
  <div class="container">

    <img src="../../assets/img/pic2.png" class="img1">
  </div>
</section>

<section class="section">

  <div class="container">

    <h2 class="section-head">
      <i class="fas fa-chalkboard-teacher"></i> Management
    </h2>
    <h3>All in one place. Login Once.</h3>
    <p class="lead">Check your website for any found errors, see broken pages, check site indexing,
      etc. Additionally, this is where you will receive messages directly from Google regarding
      any issues with, or actions taken against, your website.</p>
    <a href="#" class="square_btn" (ngSubmit)="onSubmit()">Start Your Trial Now</a>

  </div>

</section>

<!-- Consistent -->

<section id="consistent" class="section">
  <div class="container">

    <img src="../../assets/img/pic3.png" class="img1">
  </div>
</section>

<section class="section">

  <div class="container">

    <h2 class="section-head">
      <i class="fas fa-calendar-check"></i> Consistent
    </h2>
    <h3>All in one place. Login Once.</h3>
    <p class="lead">Check your website for any found errors, see broken pages, check site indexing,
      etc. Additionally, this is where you will receive messages directly from Google regarding
      any issues with, or actions taken against, your website.</p>
    <a href="#" class="square_btn" (ngSubmit)="onSubmit()">Read More</a>

  </div>

</section>

<!-- entertainment  -->

<section id="entertainment" class="section">
  <div class="container">

    <img src="../../assets/img/pic5.png" class="img1">
  </div>
</section>

<!-- Gift Cards -->

<section id="gift-cards" class="section">
  <div class="container">
    <div class="gift-cards">
      <div>
        <img src="../../assets/img/pic6.PNG" class="imagelast">
      </div>
      <div>
        <h2>Gift Cards</h2>
        <p>Is a prepaid stored-value money card usually issued by a retailer or bank to be used as an
          alternative to cash for purchases within a particular store or related businesses.Gift cards
          are also given out by retailers and marketers as part of a promotion strategy, to entice the
          recipient to come in or return to the store, and at times such cards are called cash cards.
        </p>
        <p>Already have Appliedline Gift Card?</p>
        <hr>
        <a href="#">
          <i class="fas fa-chevron-right"></i>Redeem
        </a>
      </div>
    </div>
  </div>
</section>
<app-foo></app-foo>
