<!DOCTYPE html>
<div id="showcase">
  <header>
    <nav class='cf'>
      <ul class='cf'>
        <li>
          <a href='#'>myApp</a>
        </li>
        <li>
          <a routerLink="/doc">Docs</a>
        </li>
        <li>
          <a href='#management'>Manage</a>
        </li>
        <li>
          <a href='#consistent'>Consistent</a>
        </li>
        <li>
          <a routerLink="/loginform">logIn</a>
        </li>
      </ul>
      <a href='#' id='openup'>MENU</a>
    </nav>
  </header>
</div>
